* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container--fluid {
  margin: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container__row--v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--space-between {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--flex * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.col-1 {
  width: 8.33333%;
}

@media (max-width: 0px) {
  .col-1\@xs {
    width: 8.33333%;
  }
}

@media (max-width: 440px) {
  .col-1\@sm {
    width: 8.33333%;
  }
}

@media (max-width: 738px) {
  .col-1\@md {
    width: 8.33333%;
  }
}

@media (max-width: 1025px) {
  .col-1\@lg {
    width: 8.33333%;
  }
}

.col-2 {
  width: 16.66667%;
}

@media (max-width: 0px) {
  .col-2\@xs {
    width: 16.66667%;
  }
}

@media (max-width: 440px) {
  .col-2\@sm {
    width: 16.66667%;
  }
}

@media (max-width: 738px) {
  .col-2\@md {
    width: 16.66667%;
  }
}

@media (max-width: 1025px) {
  .col-2\@lg {
    width: 16.66667%;
  }
}

.col-3 {
  width: 25%;
}

@media (max-width: 0px) {
  .col-3\@xs {
    width: 25%;
  }
}

@media (max-width: 440px) {
  .col-3\@sm {
    width: 25%;
  }
}

@media (max-width: 738px) {
  .col-3\@md {
    width: 25%;
  }
}

@media (max-width: 1025px) {
  .col-3\@lg {
    width: 25%;
  }
}

.col-4 {
  width: 33.33333%;
}

@media (max-width: 0px) {
  .col-4\@xs {
    width: 33.33333%;
  }
}

@media (max-width: 440px) {
  .col-4\@sm {
    width: 33.33333%;
  }
}

@media (max-width: 738px) {
  .col-4\@md {
    width: 33.33333%;
  }
}

@media (max-width: 1025px) {
  .col-4\@lg {
    width: 33.33333%;
  }
}

.col-5 {
  width: 41.66667%;
}

@media (max-width: 0px) {
  .col-5\@xs {
    width: 41.66667%;
  }
}

@media (max-width: 440px) {
  .col-5\@sm {
    width: 41.66667%;
  }
}

@media (max-width: 738px) {
  .col-5\@md {
    width: 41.66667%;
  }
}

@media (max-width: 1025px) {
  .col-5\@lg {
    width: 41.66667%;
  }
}

.col-6 {
  width: 50%;
}

@media (max-width: 0px) {
  .col-6\@xs {
    width: 50%;
  }
}

@media (max-width: 440px) {
  .col-6\@sm {
    width: 50%;
  }
}

@media (max-width: 738px) {
  .col-6\@md {
    width: 50%;
  }
}

@media (max-width: 1025px) {
  .col-6\@lg {
    width: 50%;
  }
}

.col-7 {
  width: 58.33333%;
}

@media (max-width: 0px) {
  .col-7\@xs {
    width: 58.33333%;
  }
}

@media (max-width: 440px) {
  .col-7\@sm {
    width: 58.33333%;
  }
}

@media (max-width: 738px) {
  .col-7\@md {
    width: 58.33333%;
  }
}

@media (max-width: 1025px) {
  .col-7\@lg {
    width: 58.33333%;
  }
}

.col-8 {
  width: 66.66667%;
}

@media (max-width: 0px) {
  .col-8\@xs {
    width: 66.66667%;
  }
}

@media (max-width: 440px) {
  .col-8\@sm {
    width: 66.66667%;
  }
}

@media (max-width: 738px) {
  .col-8\@md {
    width: 66.66667%;
  }
}

@media (max-width: 1025px) {
  .col-8\@lg {
    width: 66.66667%;
  }
}

.col-9 {
  width: 75%;
}

@media (max-width: 0px) {
  .col-9\@xs {
    width: 75%;
  }
}

@media (max-width: 440px) {
  .col-9\@sm {
    width: 75%;
  }
}

@media (max-width: 738px) {
  .col-9\@md {
    width: 75%;
  }
}

@media (max-width: 1025px) {
  .col-9\@lg {
    width: 75%;
  }
}

.col-10 {
  width: 83.33333%;
}

@media (max-width: 0px) {
  .col-10\@xs {
    width: 83.33333%;
  }
}

@media (max-width: 440px) {
  .col-10\@sm {
    width: 83.33333%;
  }
}

@media (max-width: 738px) {
  .col-10\@md {
    width: 83.33333%;
  }
}

@media (max-width: 1025px) {
  .col-10\@lg {
    width: 83.33333%;
  }
}

.col-11 {
  width: 91.66667%;
}

@media (max-width: 0px) {
  .col-11\@xs {
    width: 91.66667%;
  }
}

@media (max-width: 440px) {
  .col-11\@sm {
    width: 91.66667%;
  }
}

@media (max-width: 738px) {
  .col-11\@md {
    width: 91.66667%;
  }
}

@media (max-width: 1025px) {
  .col-11\@lg {
    width: 91.66667%;
  }
}

.col-12 {
  width: 100%;
}

@media (max-width: 0px) {
  .col-12\@xs {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .col-12\@sm {
    width: 100%;
  }
}

@media (max-width: 738px) {
  .col-12\@md {
    width: 100%;
  }
}

@media (max-width: 1025px) {
  .col-12\@lg {
    width: 100%;
  }
}

.u-pad-t-sm {
  padding-top: 0.6rem;
}

.u-mar-t-sm {
  margin-top: 0.6rem;
}

@media (max-width: 440px) {
  .u-pad-t-sm\@sm {
    padding-top: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-t-sm\@sm {
    margin-top: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-t-sm\@md {
    padding-top: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-t-sm\@md {
    margin-top: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-t-sm\@lg {
    padding-top: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-t-sm\@lg {
    margin-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-t-sm\@xl {
    padding-top: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-t-sm\@xl {
    margin-top: 3.5rem;
  }
}

.u-pad-r-sm {
  padding-right: 0.6rem;
}

.u-mar-r-sm {
  margin-right: 0.6rem;
}

@media (max-width: 440px) {
  .u-pad-r-sm\@sm {
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-r-sm\@sm {
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-r-sm\@md {
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-r-sm\@md {
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-r-sm\@lg {
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-r-sm\@lg {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-r-sm\@xl {
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-r-sm\@xl {
    margin-right: 3.5rem;
  }
}

.u-pad-b-sm {
  padding-bottom: 0.6rem;
}

.u-mar-b-sm {
  margin-bottom: 0.6rem;
}

@media (max-width: 440px) {
  .u-pad-b-sm\@sm {
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-b-sm\@sm {
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-b-sm\@md {
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-b-sm\@md {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-b-sm\@lg {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-b-sm\@lg {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-b-sm\@xl {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-b-sm\@xl {
    margin-bottom: 3.5rem;
  }
}

.u-pad-l-sm {
  padding-left: 0.6rem;
}

.u-mar-l-sm {
  margin-left: 0.6rem;
}

@media (max-width: 440px) {
  .u-pad-l-sm\@sm {
    padding-left: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-l-sm\@sm {
    margin-left: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-l-sm\@md {
    padding-left: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-l-sm\@md {
    margin-left: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-l-sm\@lg {
    padding-left: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-l-sm\@lg {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-l-sm\@xl {
    padding-left: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-l-sm\@xl {
    margin-left: 3.5rem;
  }
}

.u-pad-v-sm {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.u-pad-h-sm {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.u-mar-v-sm {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.u-mar-h-sm {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

@media (max-width: 440px) {
  .u-pad-v-sm\@sm {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-pad-h-sm\@sm {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-v-sm\@sm {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-h-sm\@sm {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-v-sm\@md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-pad-h-sm\@md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-v-sm\@md {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-h-sm\@md {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-v-sm\@lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-h-sm\@lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-v-sm\@lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-h-sm\@lg {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-v-sm\@xl {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-h-sm\@xl {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-v-sm\@xl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-h-sm\@xl {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

.u-pad-t-md {
  padding-top: 1rem;
}

.u-mar-t-md {
  margin-top: 1rem;
}

@media (max-width: 440px) {
  .u-pad-t-md\@sm {
    padding-top: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-t-md\@sm {
    margin-top: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-t-md\@md {
    padding-top: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-t-md\@md {
    margin-top: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-t-md\@lg {
    padding-top: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-t-md\@lg {
    margin-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-t-md\@xl {
    padding-top: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-t-md\@xl {
    margin-top: 3.5rem;
  }
}

.u-pad-r-md {
  padding-right: 1rem;
}

.u-mar-r-md {
  margin-right: 1rem;
}

@media (max-width: 440px) {
  .u-pad-r-md\@sm {
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-r-md\@sm {
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-r-md\@md {
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-r-md\@md {
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-r-md\@lg {
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-r-md\@lg {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-r-md\@xl {
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-r-md\@xl {
    margin-right: 3.5rem;
  }
}

.u-pad-b-md {
  padding-bottom: 1rem;
}

.u-mar-b-md {
  margin-bottom: 1rem;
}

@media (max-width: 440px) {
  .u-pad-b-md\@sm {
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-b-md\@sm {
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-b-md\@md {
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-b-md\@md {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-b-md\@lg {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-b-md\@lg {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-b-md\@xl {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-b-md\@xl {
    margin-bottom: 3.5rem;
  }
}

.u-pad-l-md {
  padding-left: 1rem;
}

.u-mar-l-md {
  margin-left: 1rem;
}

@media (max-width: 440px) {
  .u-pad-l-md\@sm {
    padding-left: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-l-md\@sm {
    margin-left: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-l-md\@md {
    padding-left: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-l-md\@md {
    margin-left: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-l-md\@lg {
    padding-left: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-l-md\@lg {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-l-md\@xl {
    padding-left: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-l-md\@xl {
    margin-left: 3.5rem;
  }
}

.u-pad-v-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-pad-h-md {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-mar-v-md {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-mar-h-md {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 440px) {
  .u-pad-v-md\@sm {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-pad-h-md\@sm {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-v-md\@sm {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-h-md\@sm {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-v-md\@md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-pad-h-md\@md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-v-md\@md {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-h-md\@md {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-v-md\@lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-h-md\@lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-v-md\@lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-h-md\@lg {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-v-md\@xl {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-h-md\@xl {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-v-md\@xl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-h-md\@xl {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

.u-pad-t-lg {
  padding-top: 2rem;
}

.u-mar-t-lg {
  margin-top: 2rem;
}

@media (max-width: 440px) {
  .u-pad-t-lg\@sm {
    padding-top: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-t-lg\@sm {
    margin-top: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-t-lg\@md {
    padding-top: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-t-lg\@md {
    margin-top: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-t-lg\@lg {
    padding-top: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-t-lg\@lg {
    margin-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-t-lg\@xl {
    padding-top: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-t-lg\@xl {
    margin-top: 3.5rem;
  }
}

.u-pad-r-lg {
  padding-right: 2rem;
}

.u-mar-r-lg {
  margin-right: 2rem;
}

@media (max-width: 440px) {
  .u-pad-r-lg\@sm {
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-r-lg\@sm {
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-r-lg\@md {
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-r-lg\@md {
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-r-lg\@lg {
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-r-lg\@lg {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-r-lg\@xl {
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-r-lg\@xl {
    margin-right: 3.5rem;
  }
}

.u-pad-b-lg {
  padding-bottom: 2rem;
}

.u-mar-b-lg {
  margin-bottom: 2rem;
}

@media (max-width: 440px) {
  .u-pad-b-lg\@sm {
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-b-lg\@sm {
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-b-lg\@md {
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-b-lg\@md {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-b-lg\@lg {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-b-lg\@lg {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-b-lg\@xl {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-b-lg\@xl {
    margin-bottom: 3.5rem;
  }
}

.u-pad-l-lg {
  padding-left: 2rem;
}

.u-mar-l-lg {
  margin-left: 2rem;
}

@media (max-width: 440px) {
  .u-pad-l-lg\@sm {
    padding-left: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-l-lg\@sm {
    margin-left: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-l-lg\@md {
    padding-left: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-l-lg\@md {
    margin-left: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-l-lg\@lg {
    padding-left: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-l-lg\@lg {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-l-lg\@xl {
    padding-left: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-l-lg\@xl {
    margin-left: 3.5rem;
  }
}

.u-pad-v-lg {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-pad-h-lg {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-mar-v-lg {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-mar-h-lg {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 440px) {
  .u-pad-v-lg\@sm {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-pad-h-lg\@sm {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-v-lg\@sm {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-h-lg\@sm {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-v-lg\@md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-pad-h-lg\@md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-v-lg\@md {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-h-lg\@md {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-v-lg\@lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-h-lg\@lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-v-lg\@lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-h-lg\@lg {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-v-lg\@xl {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-h-lg\@xl {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-v-lg\@xl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-h-lg\@xl {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

.u-pad-t-xl {
  padding-top: 3.5rem;
}

.u-mar-t-xl {
  margin-top: 3.5rem;
}

@media (max-width: 440px) {
  .u-pad-t-xl\@sm {
    padding-top: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-t-xl\@sm {
    margin-top: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-t-xl\@md {
    padding-top: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-t-xl\@md {
    margin-top: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-t-xl\@lg {
    padding-top: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-t-xl\@lg {
    margin-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-t-xl\@xl {
    padding-top: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-t-xl\@xl {
    margin-top: 3.5rem;
  }
}

.u-pad-r-xl {
  padding-right: 3.5rem;
}

.u-mar-r-xl {
  margin-right: 3.5rem;
}

@media (max-width: 440px) {
  .u-pad-r-xl\@sm {
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-r-xl\@sm {
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-r-xl\@md {
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-r-xl\@md {
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-r-xl\@lg {
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-r-xl\@lg {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-r-xl\@xl {
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-r-xl\@xl {
    margin-right: 3.5rem;
  }
}

.u-pad-b-xl {
  padding-bottom: 3.5rem;
}

.u-mar-b-xl {
  margin-bottom: 3.5rem;
}

@media (max-width: 440px) {
  .u-pad-b-xl\@sm {
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-b-xl\@sm {
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-b-xl\@md {
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-b-xl\@md {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-b-xl\@lg {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-b-xl\@lg {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-b-xl\@xl {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-b-xl\@xl {
    margin-bottom: 3.5rem;
  }
}

.u-pad-l-xl {
  padding-left: 3.5rem;
}

.u-mar-l-xl {
  margin-left: 3.5rem;
}

@media (max-width: 440px) {
  .u-pad-l-xl\@sm {
    padding-left: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-l-xl\@sm {
    margin-left: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-l-xl\@md {
    padding-left: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-l-xl\@md {
    margin-left: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-l-xl\@lg {
    padding-left: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-l-xl\@lg {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-l-xl\@xl {
    padding-left: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-l-xl\@xl {
    margin-left: 3.5rem;
  }
}

.u-pad-v-xl {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.u-pad-h-xl {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.u-mar-v-xl {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.u-mar-h-xl {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

@media (max-width: 440px) {
  .u-pad-v-xl\@sm {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-pad-h-xl\@sm {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-v-xl\@sm {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

@media (max-width: 440px) {
  .u-mar-h-xl\@sm {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}

@media (max-width: 738px) {
  .u-pad-v-xl\@md {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-pad-h-xl\@md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-v-xl\@md {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 738px) {
  .u-mar-h-xl\@md {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-v-xl\@lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-pad-h-xl\@lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-v-xl\@lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1025px) {
  .u-mar-h-xl\@lg {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-v-xl\@xl {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-pad-h-xl\@xl {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-v-xl\@xl {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .u-mar-h-xl\@xl {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }
}

body {
  font-family: "Lato", sans-serif;
}

p {
  margin-bottom: 10px;
}

h1,
.h1 {
  font-size: 38px;
  font-weight: 300;
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 300;
}

h3,
.h3 {
  font-size: 28px;
  font-weight: 300;
}

h4,
.h4 {
  font-size: 20px;
}

header {
  width: 100%;
  background: #451E64;
  min-height: 9vh;
  color: #fff;
  position: relative;
}

.o-side-nav {
  background: #222;
}

.o-side-nav--item {
  color: #fff;
  text-decoration: none;
}

.o-logo {
  width: 120px;
  min-height: 8vh;
  display: inline;
  float: left;
}

.o-logo--large {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.o-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #451E64;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.o-form-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-input {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 2px;
  border: 1px solid #282828;
}

.o-input--label {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.o-input--submit {
  width: 100%;
  margin: 2.5% 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.c-canvas {
  border: 1px solid #000;
  width: 600px;
  height: 600px;
  position: relative;
  background-image: url("/assets/pitch-v2.jpg");
  background-size: cover;
  background-position: center;
}

.c-canvas-fb {
  width: 1200px;
  height: 628px;
}

.c-canvas-gram {
  width: 1080px;
  height: 1080px;
  margin: 0 auto;
}

.c-canvas-gram * {
  font-size: 2rem;
}

.c-canvas * {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media (max-width: 738px) {
  .c-canvas * {
    font-size: 1.2rem;
  }
}

@media (max-width: 738px) {
  .c-canvas {
    width: 100vw;
    height: 100vw;
  }
}

.c-canvas__match_announcement {
  background-image: url("/assets/match-annoucment.png");
}

.c-canvas__match_announcement:before {
  background-color: rgba(69, 30, 100, 0.55);
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.c-progress {
  width: 100%;
}

.c-progress ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.c-progress ul:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  top: 22.5px;
  left: 0;
  background: #451E64;
  z-index: -1;
}

.c-progress li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-progress-disc {
  border: 5px solid #451E64;
  border-radius: 50%;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  background: #fff;
  display: block;
  width: 50px;
  height: 50px;
}

.c-progress-disc.active {
  background: #451E64;
  color: #fff;
}

.c-btn {
  display: block;
  padding: 2% 5%;
  background: #451E64;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}

.c-btn:hover {
  background: rgba(69, 30, 100, 0.9);
}

.c-btn--disabled {
  background: grey;
  pointer-events: none;
}

.c-link {
  border: 1px solid #451E64;
  text-decoration: none;
  width: 500px;
  text-align: center;
}

.c-link_image {
  height: 250px;
  background-color: #451E64;
  background-size: cover;
  background-position: center;
}

.c-team-vs {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.c-team-vs .sections {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  max-width: 40%;
}

.c-team-vs .logo {
  height: 200px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.c-team-vs-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.u-of-hidden {
  overflow: hidden;
}

.u-hid {
  display: none;
}

.u-cen-self {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.u-text-huge {
  font-size: 6rem;
}

@media (max-width: 738px) {
  .u-text-huge {
    font-size: 4rem;
  }
}

.u-mar-cen {
  margin: 0 auto;
}

.u-mar-zero {
  margin: 0;
}

.u-force-left * {
  text-align: left !important;
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
  max-width: 100% !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 60% !important;
          flex: 0 1 60% !important;
}

.o-btm-logo {
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  height: 100%;
}

.u-text-up {
  text-transform: uppercase;
}

.u-text-cent {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */