.c-canvas {
  border: 1px solid #000; 
  width: 600px;
  height: 600px;
  position: relative; 
  background: {
    image: url("/assets/pitch-v2.jpg");
    size: cover; 
    position: center; 
  }

  &-fb {
    width: 1200px;
    height: 628px;
  }

  * {
    position: relative;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
    z-index: 2;

    @include breakpoint-max(md) {
      font-size: 1.2rem;
    }

  }

  @include breakpoint-max(md) {
    width: 100vw;
    height: 100vw;
  }

  &__match_announcement {
    background-image: url("/assets/match-annoucment.png"); 
    &:before {
      background-color: $transparent-purple;
      content: "";
      width: 100%; 
      height: 100%;
      display: block; 
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
}