.c-canvas {
  border: 1px solid #000; 
  width: 600px;
  height: 600px;
  position: relative; 
  background: {
    image: url("/assets/Dublin.jpg");
    size: cover; 
    position: center; 
  }

  &-fb.c-canvas  {
    width: 1200px;
    height: 628px;

    .h2 {
      font-size: 2.2rem;
    }

    .h3 {
      font-size: 2rem;
    }

    .h4 {
      font-size: 1.6rem;
    }

    .u-text-huge {
      font-size: 5rem;
    }
  }

  &-gram {
    width: 1080px;
    height: 1080px;
    margin: 0 auto;

    * {
      font-size: 2rem;
    }
  }

  * {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 2;

    @include breakpoint-max(md) {
      font-size: 1.2rem;
    }

  }

  @include breakpoint-max(md) {
    width: 100vw;
    height: 100vw;
  }

  &__match_announcement {
    background-image: url("/assets/Dublin.jpg"); 
    &:before {
      background-color: $transparent-purple;
      content: "";
      width: 100%; 
      height: 100%;
      display: block; 
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }
  }

  &-text-container {
    background-color: $primary-color;
  }
}