.c-team-vs {
  flex-wrap: nowrap;
  .sections {
    text-align: center;
    flex: 0 1 33%;
    max-width: 40%;
  }

  .logo {
    height: 200px;
    width: 100%;
    background: {
      size: contain; 
      position: center;
      repeat: no-repeat; 
    }
  }

  &-text {
    flex: 0 1 30%;
  }
}