.c-team-vs {
  flex-wrap: nowrap;
  .sections {
    text-align: center;
    flex: 0 0 35%;
    max-width: 40%;
    
    &:nth-of-type(2n){
      flex: 0 1 25%;
    }
  }

  .logo {
    height: 175px;
    width: 100%;
    background: {
      size: contain; 
      position: center;
      repeat: no-repeat; 
    }
  }

  &-text {
    flex: 0 1 30%; 
  }
}