.o-form{  
  display: flex;
  flex-wrap: wrap;
}

.o-input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border-radius: 5px;

  &--label{
    width: 50%;
    flex: 1 1 50%; 
  }

  &--submit {
    width: 100%;
    margin: 2.5% 0;
  }

}