.o-form{  
  display: flex;
  flex-wrap: wrap;
  color: $primary-color;
  text-transform: uppercase; 
  flex: 0 0 100%; 

  &-slider {
    display: flex;
    // overflow: hidden;
    align-items: center;
  }
}

.o-input {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 2px;
  border: 1px solid #282828;

  &--label{
    width: 50%;
    flex: 1 1 50%; 
  }

  &--submit {
    width: 100%;
    margin: 2.5% 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

}