$sizes: (
  sm: .60rem,
  md: 1rem,
  lg: 2rem,
  xl: 3.5rem
);

$direction: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

$mq-breakpoints: (
  xs: 0px, 
  sm: 440px,
  md: 738px,
  lg: 1025px, 
  xl: 1200px
);

@each $key, $size in $sizes {
  @each $class, $dir in $direction {

    .u-pad-#{$class}-#{$key} {
      padding-#{$dir}: $size;
    }

    .u-mar-#{$class}-#{$key} {
      margin-#{$dir}: $size;
    }

    @each $mq, $size in $sizes {  
      .u-pad-#{$class}-#{$key}\@#{$mq} {
        @include breakpoint-max($mq) {
          padding-#{$dir}: $size;
        }
      }
  
      .u-mar-#{$class}-#{$key}\@#{$mq} {
        @include breakpoint-max($mq) {
          margin-#{$dir}: $size;
        }
      }
    }
  }

  .u-pad-v-#{$key} {
    padding-top: $size;
    padding-bottom: $size;
  }

  .u-pad-h-#{$key} {
    padding-left: $size;
    padding-right: $size;
  }

  .u-mar-v-#{$key} {
    margin-top: $size;
    margin-bottom: $size;
  }

  .u-mar-h-#{$key} {
    margin-left: $size;
    margin-right: $size;
  }

  @each $mq, $size in $sizes {  
    .u-pad-v-#{$key}\@#{$mq} {
      @include breakpoint-max($mq) {
        padding-top: $size;
        padding-bottom: $size;
      }
    }
  
    .u-pad-h-#{$key}\@#{$mq} {
      @include breakpoint-max($mq) {
        padding-left: $size;
        padding-right: $size;
      }
    }
  
    .u-mar-v-#{$key}\@#{$mq} {
      @include breakpoint-max($mq) {
        margin-top: $size;
        margin-bottom: $size;
      }
    }
  
    .u-mar-h-#{$key}\@#{$mq} {
      @include breakpoint-max($mq) {
        margin-left: $size;
        margin-right: $size;
      }
    }
  }
}